


.h1{
    font-family: 'Times New Roman', Times, serif;

    color:white;
}

.M1{
    color: rgb(247, 247, 247);
}

/*Retour Home*/
.back{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

/*=================Page Mufin============*/
.atc{
    color: white;
    background-color: rgb(56, 63, 146);
    position: relative;
    border-radius:30px;
    margin: 0px;
    
    border-width: small;
    border-color: rgb(223, 183, 138);
    border-style: dotted;
    
}
.gradi{
    background: linear-gradient(90deg, rgb(4, 2, 43) 0%, 
    rgb(2, 2, 126) 35%,
     rgb(72, 74, 230) 100%);

}


/*============= Page lasagne===========*/
.headd{
    background-color: rgb(25, 10, 107);
    padding: 20px;
    
}


.Ingrédient{
    font-weight:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    
}
.footer.lasagne{
    border-color: aquamarine;
    background-color: darkred;
}
.foot{
    background-color: rgb(4, 3, 61);
    padding: 40px;
    margin:0px;
}